table {
  width: 100%;
}

thead {
  font-weight: bold;
}
.phase {
  font-weight: bold;
  &.phase-one {
    color: red;
  }
  &.phase-two {
    color: blue;
  }
  &.phase-three {
    color: green;
  }
}
