<a [routerLink]="['/list']">
  Back to List
</a>
<div>
  <h2>Create</h2>
  <form (ngSubmit)="onSubmit()"
        #movieForm="ngForm">
    <div class="form-field">
      <label for="title">Title</label>
      <input id="title"
             name="title"
             class="form-control"
             [ngClass]="{ 'is-invalid': title?.touched && !title.valid }"
             type="text"
             [(ngModel)]="movie.title"
             required
             #title="ngModel">
      <div class="errors"
           *ngIf="title.touched && !title.valid">
        <span *ngIf="title?.errors?.required">Title is required</span>
      </div>
    </div>
    <div class="form-field">
      <label for="releaseDate">Release Date</label>
      <input id="releaseDate"
             name="releaseDate"
             class="form-control"
             type="date"
             [(ngModel)]="movie.releaseDate"
             required
             #releaseDate="ngModel">
      <div class="errors"
           *ngIf="releaseDate?.touched && !releaseDate?.valid">
        <span *ngIf="releaseDate?.errors?.required">Release Date is required</span>
      </div>
    </div>
    <div class="form-field">
      <label for="genre">Phase</label>
      <input id="genre"
             name="phase"
             class="form-control"
             type="text"
             [(ngModel)]="movie.phase"
             required
             #genre="ngModel">
      <div class="errors"
           *ngIf="genre?.touched && !genre?.valid">
        <span *ngIf="genre?.errors?.required">Genre is required</span>
      </div>
    </div>
    <div class="form-field">
      <label for="price">Budget</label>
      <input id="price"
             name="budget"
             class="form-control"
             [ngClass]="{ 'is-invalid': price.touched && !price.valid }"
             type="number"
             [(ngModel)]="movie.budget"
             min=0.01
             required
             unsigned
             #price="ngModel">
      <div class="errors"
           *ngIf="price?.touched && !price?.valid">
        <span *ngIf="price?.errors?.required">Price is required</span>
        <span *ngIf="price?.errors?.unsigned">Price cannot be negative</span>
      </div>
    </div>
    <div class="form-field">
      <label for="ratingName">Rating</label>
      <input id="ratingName"
             name="ratingName"
             class="form-control"
             type="text"
             [(ngModel)]="movie.ratingName"
             required
             #ratingName="ngModel">
      <div class="errors"
           *ngIf="ratingName?.touched && !ratingName?.valid">
        <span *ngIf="ratingName?.errors?.required">Rating is required</span>
      </div>
    </div>
    <div class="form-buttom">
      <button type="submit"
              class="btn btn-primary">Create</button>
    </div>
  </form>
  <br>
</div>