form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: .75rem;
  .form-field {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 1rem;
    grid-template-areas:
      "field-label field-text"
      "field-error field-error";
    label {
      grid-area: field-label;
    }
    input {
      grid-area: field-text;
    }
    .errors {
      grid-area: field-error;
      font-size: 14px;
      color: red;
    }
  }
}
