<div class="wrapper">
    <section class="oneTimeTasks">
        <ng-container *ngFor="let task of completedOneTimeTasks">
            <app-task-card [task]="task" (refreshTasksEvent)="getCompletedTasks()"></app-task-card>
        </ng-container>
    </section>

    <section class="recurringTasks">
        <ng-container *ngFor="let task of completedRecurringTasks">
            <app-task-card [task]="task" (refreshTasksEvent)="getCompletedTasks()"></app-task-card>
        </ng-container>
    </section>
</div>