app-completed-tasks {
    display: flex;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
}

.recurringTasks {
    flex: 1 1;
}

@media screen and (max-width: 545px) {
    .wrapper {
        flex-wrap: wrap;
    }
}