div {
    margin-bottom: 20px;
}

mat-card {
    width: 500px;
    margin: 20px 20px 10px 10px;
    padding: 20px;
}

.checkboxesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dateContainer {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-bottom: 0px;
}

.dateCheckboxContainer {
    width: 40%;
}

.dateDueContainer {
    width: 50%;
    margin-bottom: 0px;
}

.recurringTaskContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 0px;
}

.recurringTaskDropDownContainer {
    margin-right: 50px;
    margin-bottom: 14px;
}

.taskTitleContainer>mat-form-field,
.taskDescriptionContainer>mat-form-field {
    width: 100%;
}

.matActionsContainer {
    position: relative;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.subTaskContainer {
    width: 50%;
}

@media screen and (max-width: 545px) {
    mat-card {
        width: 500px;
    }
}