#taskCard {
    width: 300px;
    margin: 20px 20px 10px 10px;
    padding: 20px;
}

#taskCardSection {
    display: flex;
    flex-wrap: wrap;
}

mat-card-title {
    line-height: 1.2;
    height: max-content;
}

#taskDescriptionContainer {
    margin: 20px 0 10px 0;
    height: max-content;
}

#matChipsContainer {
    height: 50px;
    margin: 30px 0 10px 0;
}

mat-chip {
    border-radius: 5px;
}

#matActionsContainer {
    height: 50px;
    margin: 10px;
}