<div class="container">
    <div class="taskContainer">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{selectedTask.id}}</td>
                    <td>{{selectedTask.name}}</td>
                    <td>{{selectedTask.description}}</td>
                    <td>{{selectedTask.dueDate | date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="BackButton">
        <a class="btnBack" (click)="onBackButtonClick()">Back To List</a>
    </div>
</div>
