.subTaskContainer {
    display: flex;
    align-items: center;
}

.subTaskContainer>div {
    margin: 0 5px 0px 5px;
    padding: 5px;
}

.subTaskStatusContainer {
    flex-grow: 1;
}

.subTaskNameContainer {
    flex-grow: 3;
    width: 100%;
}

.subTaskDateCompletedContainer {
    flex: 3, 1;
    width: 100%;
}