<div class="header">Task List</div>
<div class="ListContainer">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of todoList">
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>{{task.dueDate | date}}</td>
                <td class="tableButton" (click)="onButtonClick(task,'view')"><button class="btnView">View</button></td>   
                <td class="tableButton" (click)="onButtonClick(task,'create')"><button class="btnUpdate">Update</button></td>   
                <td class="tableButton" (click)="onButtonClick(task,'delete')"><button class="btnDelete">Delete</button></td>   
            </tr>
        </tbody>
    </table>
</div>
<div class="CreateButton">
    <a class="btnCreate" (click)="onCreateButtonClick()">Create a new task</a>
</div>